.place-form {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 50%;
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 1px 1px 2px black;

}

.place-form > * {
  margin: 5px;
}

.newplaceform-window {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 60%;
}