.modal-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 34, 34, 0.6);
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#detailmodal {
  background-color: white;
  width: 1000px;
  height: 800px;
  z-index: 2;
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 1px 1px 2px black;
}

#modal-container {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.x-btn {
  background-color: transparent;
  border: none;
  font-size: medium;
}

.x-btn:hover {
  cursor: pointer;
}