.modal-background {
  position: absolute;
  width: 100%;
  height: 110%;
  background-color: rgba(41, 34, 34, 0.6);
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#detailmodal {
  background-color: white;
  width: 1000px;
  height: 600px;
  z-index: 2;
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 1px 1px 2px black;
}

#modal-container {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.x-btn {
  background-color: transparent;
  border: none;
  font-size: medium;
}

.x-btn:hover {
  cursor: pointer;
}

#booking-placement {
  width: 325px;
  height: auto;
  position: absolute;
  right: 267.5px;
  top: 100px;
  border: 1px solid black;
}

#booking-placement > * {
  padding: 10px;
  margin: 4px;
}

#detail-content {
  width: 650px;
  height: 275px;
  border: 1px solid black;
  margin: 5px;
}

#detail-content > * {
  margin-left: 10px;
}

#place-pictures {
  display: flex;
  width: 100%;
  margin-top: 2%;
  height: 250px;
  justify-content: center;
}

.detailed-house-image {
  border: 1px solid black;
  width: 500px;
  height: 245px;
  object-fit:contain;
  margin-left: 15px;
  bottom: 150px;
}
