.place-card {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 16rem;
  height: 17rem;
  border: 1px solid black;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 12px;
  box-shadow: 1px 1px 3px black;
}

.place-card:hover {
  cursor: pointer;
  transition: 1s;
  transform: scale(1.1, 1.1);
}

.place-card:hover::after {
  opacity: 1;
}

.place-card > div {
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.browser-window {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.pagination {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.page-numbers {
  border: 1px solid black;
  list-style: none;
  padding: 10px;
}

.page-numbers:hover{
  cursor: pointer;
  text-decoration: underline;
}


.housePic{
border: 1px solid black;
width: 10rem;
height: 6rem;
object-fit: cover;
margin-left: 0 auto;
}

.placecard-container{
  height: 300px;
}