/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


html *{
  font-family: 'Cambria', Georgia, serif;
  font-size: 18px;
}

.splash-links {
  color: black;
  font-weight: bold;
  text-decoration: none;  
  background-color: transparent;
  border: 1px solid transparent; 
  padding: 10px
}

.splash-links:hover {
  background-color: rgba(255, 255, 255, .7  );
  border: 1px solid grey;
  border-radius: 17px;
  text-decoration: underline;
  cursor: pointer;
}

body {
  width: 99vw;
  min-height: 99%;
  overflow-x: hidden;
}

button {
  margin: 2px;
  background-color: lightblue;
  border: 1px solid black;
  cursor: pointer;
}

button:hover{
  background-color: lightcyan;
  text-decoration: underline;
}

