#login-form {
  display: flex;
  flex-direction: column;
  width:250px;
  margin: 10px;
  z-index: 100;
}

#login-form > * {
  padding: 5px;
}

.errorText {
  color: red;
  list-style-type: none;
}

.errorUl {
  padding: 0;
  margin: 0;
}

h3 {
  margin-top: 0;
}

#submit-btn {
  margin-bottom: 20px;
}